@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 174 100% 95%;
  --foreground: 174 5% 6%;
  --card: 174 50% 90%;
  --card-foreground: 174 5% 10%;
  --popover: 174 100% 95%;
  --popover-foreground: 174 100% 6%;
  --primary: 174 100% 32.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 174 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 136 30% 85%;
  --muted-foreground: 174 5% 35%;
  --accent: 136 30% 80%;
  --accent-foreground: 174 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 174 5% 90%;
  --border: 174 30% 50%;
  --input: 174 30% 18%;
  --ring: 174 100% 32.5%;
  --radius: 0.5rem;
}
.dark  {
  --background: 174 50% 6%;
  --foreground: 174 5% 90%;
  --card: 174 50% 6%;
  --card-foreground: 174 5% 90%;
  --popover: 174 50% 5%;
  --popover-foreground: 174 5% 90%;
  --primary: 174 100% 32.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 174 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 136 30% 15%;
  --muted-foreground: 174 5% 60%;
  --accent: 136 30% 15%;
  --accent-foreground: 174 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 174 5% 90%;
  --border: 174 30% 18%;
  --input: 174 30% 18%;
  --ring: 174 100% 32.5%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@keyframes animateExperience {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); } /* Adjust distance for scrolling effect */
}

.experience-item {
  animation: animateExperience 5s linear infinite;
}



